<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="quark_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="True"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${specialfolder:folder=ApplicationData}/Quark/Logs/quark_log.log"
    encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="quark_log" />
    <logger name="*" minlevel="Debug" writeTo="quark_log" />
  </rules>
</nlog>